# All dotfiles and directories
.*
# Exceptions
!.github/
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.sbtopts
!.scalafix.conf
!.scalafmt.conf
!docs/**/*.md
!README.md

# Build output directories
target/

# Miscellaneous
*.md
null/
PowerShell*/
build.sbt.semanticdb
metals.sbt
