# All dotfiles and directories
.*
# Exceptions
!.github/
!.gitattributes
!.gitignore
!.sbtopts
!.scalafix.conf
!.scalafmt.conf


# Build output directories
target/

# Miscellaneous
null/
PowerShell*/
metals.sbt
