# All dotfiles and directories
.*
# Exceptions
!.github/
!.github/**
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.scalafix.conf
!.scalafmt.conf

# Build output directories
target/

# Miscellaneous
*.md
!docs/**/*.md
!README.md
null/
PowerShell*/
build.sbt.semanticdb
metals.sbt
